/*animaciones*/

@keyframes aparecer {
      	0%{
      	/*visibility: hidden;*/
      	 transform: scale(0); 
      	 
      	 
      	 }
      	100%{
			 transform: scale(1);
			 visibility: visible;
      	}
      }
      
@keyframes desaparecer {
      	0%{
      	visibility: visible;
      	 transform: scale(1); 
      	 }
      	100%{
      	transform: scale(0);
      	visibility: hidden;
      	}
      	
      }

@keyframes deslizar {
				0%{
          left: -100%;
      	}
        100%{
        left: 1.5%;
        }         			
      }
      
      @keyframes desvanecer{
      0%{
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
      }
      
@keyframes pulsate2 {
         0%{
  				transform: scale(1);
         }
         25%{
           opacity: .7;
					transform: scale(1.1);
         }
        50%{
          opacity: .5;
          transform: scale(1.2);
        }
        75%{
          opacity: .2;
          transform: scale(1.2);
        }
        100%{
          opacity: 0;
          transform: scale(1.2);
        }
       }

/*ajustes del fondo*/
body{
    /*overflow: hidden;
    background-color: blue;
    background-size: contain;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;*/
    }
         
#fondo{
		position: absolute;
		/*background-color: blue;*/
		/*background-image: url("fondo_movil.png");
		background-size: cover;
		background-repeat: no-repeat;
		/*height: 102%;
		width: 102%;	*/
		/*height: 100vh;
		margin-top: -2%;
		margin-left: -2%;*/
		}


/*ajustes del slogan*/

#titulo-slogan{
      position: relative;
     /*background-color: red;*/
      animation: deslizar 2s forwards;
      top: 30%;
      margin-top: 7.5%;
      width: 95%;
      height: 40%;
      }
      
 #nombre-img {
      position: relative;
      background-image: url("nombre.png");
      /*background-color: yellow;*/
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 17%;
      }
      
#slogan{
      position: relative;
      /*background-color: greenyellow;*/
        animation: desvanecer 2s;
        animation-delay: 2.5s;
        animation-fill-mode: forwards;
			margin-top: 0%;
        font-weight: normal;
        font-size: 2.5vh;
        opacity: 0;
        text-align: center;
      }
      
#logo{
        position: relative;
        /*background-color: yellow;*/
        background-image: url("LOGO_GPS.png");
      background-size: contain;
      background-repeat: no-repeat;
        animation: desvanecer 2s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        width: 60%;
       	height: 67%;
       	margin-left: 27%;
       	margin-top: 5%;
        opacity:0;        
      }
      
/*seccion de opciones*/

#cont-opciones{
	position: relative;
	top: -44%;
	left: 1%;
	height: 20%;
	width: 98%;
	/*background-color: green;*/
}

.contenedor-extras{
        position: relative;
       /* background-color: blue;*/
        animation: desvanecer 2s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        width: 35%;
        height: 40%;
        display: flex;
        opacity: 0;
        align-items: center;
      }
      
.cont-logos{
      	position: relative;
      	/*background-color: red;*/
        width: 40%;
        height: 70%;
        left: 5%;
        display: flex;
        align-items: center;
        justify-content: center; 
        }
        
.letra-logo{
		position: relative;
			font-size: 2vh;
        font-weight: bold;
        left: 10%;
		}
		
#menu{
	left: 5%;
}
		
#cont-menu{
      position: relative;
      background-image: url("menu.svg");
      background-repeat: no-repeat;
       background-size: cover;
       width: 35%;
       height: 70%;
      }
      
#cont-login{
		position: relative;
		/*background-color: green;*/
		 background-image: url("login5.png");
		 width: 40%;
       background-size: contain;
       background-repeat: no-repeat; 
		}
		
#login{
	left: 55%;
	top: -40%;
}

#cont-multi{
		position: relative;
		 background-image: url("multimedia.svg");
       background-size: contain;
       background-repeat: no-repeat; 
       width: 80%;
		}
		
#multimedia{
	left: 5%;
	top: -40%;
}

#cont-whats{
		position: relative;
      left: -1%;
      width: 43%;
      height: 85%;
      /*background-color: yellow;*/
      }
      
#circulo{
      position: absolute;
       background-image: url("circulo2.svg");
        background-size: contain;
       background-repeat: no-repeat; 
        width: 75%;
        height: 75%;
        z-index: 1;
        opacity: .7;
        animation: pulsate2 2s linear;
       	animation-iteration-count: infinite;
      }
      
#logo-whats{
		 position: absolute;
		 background-image: url("whats.svg");
       background-size: contain;
       background-repeat: no-repeat; 
        width: 70%;
        height: 70%;
        z-index: 2;
		}
		
#whats{
	left: 55%;
	top: -80%;
	width: 45%;
}

#letra-whats{
	position: relative;
	left: -1%;
	/*background-color: pink;*/
}

/*SECCION DE MENU*/

#menu-abierto{
			position: relative;
			visibility: hidden;
			background-color: gray;
			width: 99%;
			height: 82%;
			top: -45%;
			left: .5%;
			opacity: .95;
			display: flex;
		}    
		
#cont-opc-menu{
		position: relative;
		/*background-color: pink;*/
		width: 98%;
		height: 25%;
		left: 1%;

}

 .cont{
        position: relative;
        /*background-color: blue;*/
        width: 25%;
        height: 45%;
        left: 1%;
        display: flex;
        justify-content: center;
      }
          	
.img{
        position: relative;
        /*background-color: green;*/
        background-size: contain;
        background-repeat: no-repeat;
       	width: 60%;
       	height: 70%;
       	}
      
.letra{
         position: relative;
        /*background-color: red;*/
        font-weight: bold;
        font-size: 1.7vh;
        width: 100%;
       	height: 25%;
        margin-top: 110%;
        left: -25%;
        display: flex;
        text-align: center;
        font-weight: bold;
      }
      
#cont-geo{
		left: -2%;
		}
      
#img-geo{
     		background-image: url("geocerca.svg");        
      }
      
#letra-geo{
		margin-top: 80%;
}
      
#cont-vel{
			left: 24%;
			top: -45%;
		}
		
#img-vel{
        background-image: url("velocidad.svg");
       }
       
#letra-vel{
		margin-left: -14%;
		margin-top: 80%;
}

#cont-motor{
		left: 49.5%;
		top: -90%;
		}
		
#img-motor{
        background-image: url("motor.svg");
       }
       
#letra-motor{
		margin-left: 18%;
		width: 120%;
		margin-top: 80%;
}

#cont-notifi{
		/*left: 49.5%;
		top: -213%;*/
		top: -90%;
		left: 50%;
	}
	
#img-notifi{
        background-image: url("notifi.svg");
        margin-top: 13%;
      }
	
#letra-notifi{
		margin-left: 15%;
		margin-top: 80%;
}

#cont-espejo{
		left: -2%;
		top: -135%;
}

#img-espejo{
        background-image: url("espejo.svg");
        top: 11%;
        scale: 1.3;
        margin-top: 13%;
     }

#letra-espejo{
		left: -7%;
		top: -33%;
		scale: .8;
		margin-top: 80%;
}

#cont-golpe{
		left: 24%;
		top: -178%;
}

#img-golpe{
        background-image: url("colision.svg");
        scale: 1.5;
       margin-top: 20%;
     }

#letra-golpe{
		left: -10%;
		top: -40%;
		scale: .7;
		margin-top: 85%;
}

#cont-gas{
		left: 74%;
		top: -270%;
}

#img-gas{
        background-image: url("combustible.svg");
        margin-left: 1%;
      }

#letra-gas{
		left: -40%;
		scale: .95;
		margin-top: 80%;
}

#cont-moni{
	left: 75%;
	top: -268%;
}

#img-moni{
        background-image: url("monitoreo.svg");
        margin-top: 8%;
      }
      
#letra-moni{
		margin-top: 80%;
}
		
/*SECCION DE EXPLICACIONES*/

#explicaciones{
		position: fixed;
		/*background-color: green;*/
		height: 59%;
      width: 99%;
      margin-top: 40%;
}

 .exp {
        position: fixed;
       /*background-color: white;*/
        height: 100%;
        width: 100%;
        opacity: 0.8;
        justify-content: center;
        transform: scale(0);
        visibility: hidden;
      }
            
 .imagenes-exp{
      	position: relative;
      	height: 15vh;
      	width: 50%;
      	float: right;
      	margin-top: 1%;
      	margin: 2%;
      }
      
.titulo{
      text-align: center;
      font-size: 3.5vh;
      }
      
.textos-exp{
      position: relative;
      height: 70%;
      width: 98%;
      text-align: justify;
      font-size: 2vh;
     	overflow: auto;
     	color: white;
      }
      
#imagenes-geo{
		background-image: url("geocerca-img.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      
 #imagenes-vel{
       background-image: url("velocidad-img.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      
#imagenes-motor{
       background-image: url("motor-img.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      
#imagenes-notifi{
       background-image: url("notificaciones-img.png");
        background-size: cover;
        background-repeat: no-repeat;
       
      }
      
#imagenes-espejo{
       background-image: url("espejo-img.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      
#imagenes-golpe{
       background-image: url("golpe-img.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      
#imagenes-gas{
       background-image: url("gas-img.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      
#imagenes-moni{
       background-image: url("moni-img.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
/*SECCION DE MULTIMEDIA*/

#menu-multimedia{
		position: relative;
		visibility: hidden;
		background-color: gray;
		width: 99%;
		height: 82%;
		top: -127%;
		left: .5%;
		opacity: .95;
		overflow-y: auto;
		display: flex;
		justify-content: center;
		}    
		
.videos{
      position: relative;
      height: 50%;
      width: 48%;
      border: 5px solid ;
      margin-top: 2%;
      	
      }

